.DS_store
.vagrant
config/aws.json
config/didit.keytab
config/development.js
config/production.js
config/test.js
config/ssl-*.pem
coverage
devel
log/*.log
manifests/*.conf.json
node_modules
prod
public/bootstrap
