doctype
html
  head
    block head
      title Down for Maintenance - Didit
      link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/static/style.css')
  body
    div.container-fluid
      div.row-fluid
        div.span10.offset1
          div.alert.alert-info
            h1 Sorry, Didit is down for maintenance
