doctype
html
  head
    block head
      title Down for Maintenance - Didit
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
      link(rel='stylesheet', href='/static/style.css')
  body
    div.container-fluid
      div.row
        div.col-sm-10.col-sm-offset-1
          div.alert.alert-info
            h1 Sorry, Didit is down for maintenance
