@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  padding-top: 60px;
}

body, input, button {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .btn {
  margin-top: -5px;
  margin-right: 5px;
}

tt {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 90%;
}

pre {
  font-size: 12px;
  line-height: 16px;
  tab-size: 4;
  -moz-tab-size: 4;
}

.well .nav-list {
  padding: 0 5px 5px 5px;
}

ul.testresults {
  margin-left: 0;
  list-style: none;
}

ul.testresults ul {
  margin-left: 30px;
  list-style: none;
}

ul.testresults h3 {
  margin-bottom: 0;
}

ul.testresults ul .label {
  position: absolute;
  margin-left: -30px;
  width: 10px;
  text-align: center;
}
