@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  padding-top: 60px;
}

body, input, button {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .btn {
  margin-top: -5px;
  margin-right: 5px;
}

tt, .teletype {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 90%;
}

pre {
  font-size: 12px;
  line-height: 16px;
  tab-size: 4;
  -moz-tab-size: 4;
}

.well .nav-list {
  padding: 0 5px 5px 5px;
}

.well h2:first-child,
.well h3:first-child,
.well h4:first-child {
  margin-top: 0;
}
.well h2 small,
.well h3 small,
.well h4 small {
  white-space: nowrap;
}
.well div:last-child {
  margin-bottom: 0;
}

.alert.collapse-oneshot {
  display: block;
}
.alert.collapse-oneshot:not(.collapsed) {
  display: none;
}
.alert.collapse:not(.in) {
  display: none;
}

ul.testresults {
  margin-left: 0;
  list-style: none;
}

ul.testresults ul {
  margin-left: 30px;
  list-style: none;
}

ul.testresults h3 {
  margin-bottom: 0;
}

ul.testresults ul .label {
  position: absolute;
  margin-left: -30px;
  width: 10px;
  text-align: center;
}

table.testresults td {
  vertical-align: top;
}

table.testresults tr.testsuite td {
  border-top: none;
  vertical-align: bottom;
}

table.testresults td:first-child,
table.testresults td:last-child {
  max-width: 1em;
}

table.testresults h3 {
  margin-bottom: 0;
}

table.testresults .label-square {
  width: 10px;
  text-align: center;
}

table.testresults pre {
  margin: 4px 0 0 0;
}

div.grades {
  overflow: auto;
}

table.grades td:nth-child(n+7) {
  padding-left: 0;
}

table.grades td.splitter {
  border-left: 1px solid #ddd;
}

table.grades td.splitter + td.splitter {
  display: none;
}

.btn-baseline {
  vertical-align: baseline;
}

.btn-toolbar.pull-right {
  margin-top: 0;
}
