const semester = 'sp13';

module.exports = {
  semester,
  student: {
    repos: `/vagrant/devel/repos/${semester}`,
    acl: 'none'
  },
  staff: {
    repo: '/vagrant/devel/staff-repo',
    base: '',
    users: [ 'maxg' ]
  },
  web: {
    port: 4443,
    certDomain: 'MIT.EDU'
  },
  mail: {
    transport: 'SES',
    sender: 'no-reply@...',
    owner: '...-staff@mit.edu',
    domain: 'mit.edu',
    debug: 'maxg'
  },
  build: {
    eclipse: '/usr/local/eclipse',
    results: `/vagrant/devel/didit/${semester}`,
    concurrency: 4
  },
  workflow: {
    domain: 'didit-dev'
  },
  log: {
    console: true
  }
};
