module.exports = {
  student: {
    semester: 'sp13',
    repos: '/vagrant/devel/repos'
  },
  staff: {
    semester: 'spring13',
    repo: '/vagrant/devel/repos/staff',
    users: [ 'maxg' ]
  },
  web: {
    port: 4443,
    certDomain: 'MIT.EDU'
  },
  mail: {
    transport: 'SES',
    sender: 'no-reply@...',
    owner: '...-staff@mit.edu',
    domain: 'mit.edu',
    debug: 'maxg'
  },
  build: {
    eclipse: '/usr/local/eclipse',
    results: '/vagrant/devel/builds',
    concurrency: 4
  },
  workflow: {
    domain: 'didit-dev'
  },
  log: {
    console: true
  }
};
