module.exports = {
  student: {
    semester: 'sp13',
    repos: '/afs/athena.mit.edu/course/.../git'
  },
  staff: {
    semester: 'spring13',
    repo: '/afs/athena.mit.edu/course/.../git/staff.git',
    users: [ 'maxg' ]
  },
  web: {
    port: 443,
    redirect: 80
  },
  mail: {
    transport: 'SES',
    sender: 'no-reply@...',
    domain: 'mit.edu'
  },
  build: {
    eclipse: '/usr/lib/eclipse',
    results: '/afs/athena.mit.edu/course/.../didit',
    concurrency: 4
  },
  workflow: {
    domain: 'didit-...'
  },
  log: {
    console: false,
    mail: [ 'maxg' ]
  }
};
