module.exports = {
  student: {
    semester: 'sp13',
    repos: '/afs/athena.mit.edu/course/.../git',
    acl: 'afs',
    remote: 'ssh://[user]@athena.dialup.mit.edu/mit/.../git'
  },
  staff: {
    semester: 'spring13',
    repo: '/afs/athena.mit.edu/course/.../git/staff.git',
    users: [ 'maxg' ]
  },
  web: {
    port: 443,
    redirect: 80,
    certDomain: 'MIT.EDU'
  },
  mail: {
    transport: 'SES',
    sender: 'no-reply@...',
    owner: '...-staff@mit.edu',
    domain: 'mit.edu'
  },
  ldap: {
    url: 'ldap://...',
    base: 'dc=mit,dc=edu'
  },
  gitweb: {
    url: 'http://...'
  },
  build: {
    eclipse: '/usr/local/eclipse',
    results: '/afs/athena.mit.edu/course/.../didit',
    concurrency: 4
  },
  workflow: {
    domain: 'didit-...'
  },
  log: {
    console: false,
    mail: [ 'maxg' ]
  }
};
