extends layout

block content
  p
    strong
      tt #{params.kind}/#{params.proj}
      |  #{when.format('llll')}
  div.alert.alert-warning
    h2 Finished rebuilding sweep
    p: strong requested by&nbsp;
      tt= user
