extends layout

block content
  p
    strong
      tt #{params.kind}/#{params.proj}
      |  #{when.format('llll')}
  div.alert.alert-info
    h2 Started sweeping
    p: strong scheduled by #[tt= user]
