<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="public/syntax.css">
<link rel="stylesheet" href="public/style.css">
<title>{{ page.title }} - Didit</title>
</head>
<body>
<header>
<a href="https://github.com/maxg/didit">The Classroom Continuous Build Butler - Didit</a>
</header>
<div class="container">
<div class="row">
<div class="col-sm-offset-1 col-sm-10">
{{ content }}
</div>
</div>
</div>
<footer>MIT EECS</footer>
</body>
</html>
